// Specific CSS for your home-page
// Banner

// Présentation
.container-invest-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px 0;
}

.card-invest-type {
  border-radius: 4px;
  padding: 8px;

  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    img {
      height: 40px;
      margin-right: 8px;
    }
  }
}

.rocket-container {
  display:flex;
  align-items: center;
  justify-content: center;
  margin-right: 150px;
}
.rocket {
  max-height: 300px;
}

.flex-center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 32px 0;
}

.methode {
  border-radius: 4px;
  padding: 8px;

  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    img {
      height: 40px;
      margin-right: 8px;
    }
  }
}

// Offre
// Localisation
