<div class="footer">
  <div class="content">
    <div class="footer-content">
      partie Maison Mazaeff
    </div>
    <hr>
    <div class="footer-content">
      <div class="footer-copyright">
        <p>un site conçu par </p>
        <a target="_blank" href="https://gndevelopment.fr/"><i class="far fa-copyright"></i> GN Development</a>
      </div>
    </div>
  </div>
</div>
