<div class="banner-home">
  <div class="banner-content">
    <div class="content">
      <h1 class="text-center">
        Des investissements sur mesures pour <span class="flash-color">développer votre patrimoine.</span>
      </h1>
      <p class="text-center">
        Conseil en gestion de patrimoine, solutions d’investissements immobilier et financiers.
        Maison Mazaeff vous propose les meilleurs investissements selon votre profil.
      </p>
      <br>
      <div class="btn-center">
        <%= link_to root_path, class: "btn-flat btn-white" do %>
          Devenir membre  <i class="fas fa-arrow-right"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
<div class="content content-white">
  <div class="container-invest-type ">
    <div class="rocket-container">
      <img class="rocket" src="https://res.cloudinary.com/dqc8dpu1n/image/upload/v1635258717/Maison-Mazaeff/Fus%C3%A9e_rujcy5.png" />
    </div>
    <div class="">
      <h2 class="text-right">Êtes vous plutôt <span class="flash-color">pierre ou CAC40 ?</span></h2>
      <div class="grid-2">
        <div class="card-invest-type bck-ligh-gray">
          <h4 class="text-center">Je souhaite investir dans <span class="flash-color">l'immobilier</span></h4>
          <hr>
          <div class="info">
          <img src="https://res.cloudinary.com/dqc8dpu1n/image/upload/v1635263349/Maison-Mazaeff/Icones/Icone_Dollar_MM_mcmu4h.png" />
          A partir de 50 000 € hors frais d’acquisition.
          </div>
          <div class="info">
          <img src="https://res.cloudinary.com/dqc8dpu1n/image/upload/v1635263349/Maison-Mazaeff/Icones/Icone_Dollar_MM_mcmu4h.png" />
          Biens immobiliers dans toute la France.
          </div>
          <div class="info">
          <img src="https://res.cloudinary.com/dqc8dpu1n/image/upload/v1635263349/Maison-Mazaeff/Icones/Icone_Dollar_MM_mcmu4h.png" />
          Plusieurs dispositifs fiscaux selon votre situation.
          </div>
          <div class="info">
          <img src="https://res.cloudinary.com/dqc8dpu1n/image/upload/v1635263349/Maison-Mazaeff/Icones/Icone_Dollar_MM_mcmu4h.png" />
          Developper son patrimoine grâce au crédit.
          </div>
        </div>
        <div class="card-invest-type bck-ligh-gray">
          <h4 class="text-center">Je souhaite investir sur <span class="flash-color">les marchés financiers</span></h4>
          <hr>
          <div class="info">
          <img src="https://res.cloudinary.com/dqc8dpu1n/image/upload/v1635263349/Maison-Mazaeff/Icones/Icone_Dollar_MM_mcmu4h.png" />
          Solutions à partir de 1 000 € la part.
          </div>
          <div class="info">
          <img src="https://res.cloudinary.com/dqc8dpu1n/image/upload/v1635263349/Maison-Mazaeff/Icones/Icone_Dollar_MM_mcmu4h.png" />
          Investissement sur des produits institutionnels
          </div>
          <div class="info">
          <img src="https://res.cloudinary.com/dqc8dpu1n/image/upload/v1635263349/Maison-Mazaeff/Icones/Icone_Dollar_MM_mcmu4h.png" />
          Grande liberté de produits et de supports.
          </div>
          <div class="info">
          <img src="https://res.cloudinary.com/dqc8dpu1n/image/upload/v1635263349/Maison-Mazaeff/Icones/Icone_Dollar_MM_mcmu4h.png" />
          Investissement sans aucun souci de gestion
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-center-content">
    <h3>Un projet ? <span class="flash-color">Contactez nous !</span></h3>
    <%= link_to root_path, class: "btn-flat btn-blue" do %>
      <i class="fas fa-phone-alt"></i>  Nous appeler
    <% end %>
  </div>
  <div class="methode">
    <h3>Une méthode efficace : </h3>
    <div class="info">
      <img src="https://res.cloudinary.com/dqc8dpu1n/image/upload/v1635263349/Maison-Mazaeff/Icones/Icone_Dollar_MM_mcmu4h.png" />
      Rencontre & découverte client
      Lors d’un rendez-vous physique ou téléphonique notre travail consiste à comprendre votre situation et vos projet
      ainsi que la récolte des informations fiscales nécessaires à la bonne réalisation de votre étude patrimoniale.
    </div>
    <div class="info">
      <img src="https://res.cloudinary.com/dqc8dpu1n/image/upload/v1635263349/Maison-Mazaeff/Icones/Icone_Dollar_MM_mcmu4h.png" />
      Remise de l’étude patrimoniale
      Lors d’un second rendez vous, nous vous remettons votre étude patrimoniale qui comprend votre situation et les
      projets d’investissements en adéquations avec vos objectifs et votre situation patrimoniale.
    </div>
    <div class="info">
      <img src="https://res.cloudinary.com/dqc8dpu1n/image/upload/v1635263349/Maison-Mazaeff/Icones/Icone_Dollar_MM_mcmu4h.png" />
      Propositions d’investissements
      Votre situations et vos objectifs étant définis, nous vous proposons des solutions d’investissements qui sont en
      accord avec votre situation. Pour chaque type d’investissements nous vous proposons différentes alternatives.
    </div>
    <div class="info">
      <img src="https://res.cloudinary.com/dqc8dpu1n/image/upload/v1635263349/Maison-Mazaeff/Icones/Icone_Dollar_MM_mcmu4h.png" />
      Accompagnement patrimonial
      Nous vous accompagnons dans les démarches pour chacun de vos investissements, de la signature d’un compromis
      de vente à l’établissement d’un contrat d’assurance vie et nous en faisons le suivi dans le temps.
    </div>
    <%= link_to root_path, class: "btn-flat btn-blue" do %>
      Commencer
    <% end %>
  </div>
  <div class="solution">
    <h3>...des solutions efficaces.</h3>
    <div class="grid-4-2-1">
      <div class="card-invest-type bck-ligh-gray">
        Investissement LMNP
        Rentabilité nette 4 %
        A partir de 120 000 €

        Commencer
        En savoir plus
      </div>
      <div class="card-invest-type bck-ligh-gray">
        Investissement Loi Malraux
        Réduction d’impôts
        jusqu’à 80 000 €
        A partir de 250 000 €

        Commencer
        En savoir plus
      </div>
      <div class="card-invest-type bck-ligh-gray">
        Investissement Assurance Vie
        Protection de votre patrimoine
        A partir de 50 000 €

        Commencer
        En savoir plus
      </div>
      <div class="card-invest-type bck-ligh-gray">
        Investissement OPCI
        Rentabilité nette 4 %
        A partir de 10 000 €
        
        Commencer
        En savoir plus
      </div>
    </div>
  </div>
  <h3>Découvrir toutes nos offres : Je veux en savoir plus</h3>
</div>

<div class="content-dark">
  <div class="content">
 <%# --- 
Le tout accompagné par des experts à
votre service.
Rendez vous physique
Conseil par téléphone
Audit d’investissement
Etude patrimoniale Simulations fiscales
Informations mensuelles Conseil à la succession
Mise en relation avec des experts
Suivi de vos investissements
Déclarations fiscales*
En savoir plus
Dans une offre groupée pour tous nos
membres privilèges.
20 €/ MOIS
sans engagements
Devenir membre
*A venir
Un service régional, une offre nationale.
Nous disposons de deux bureaux pour pouvoir accueillir
tous nos clients de la région Rhône-Alpes.
L’un se situe à Lyon, le second à Saint Paul Trois
Chateaux.
Et pour ceux qui le souhaitent nous faisons même
le déplacement à votre domicile.
Deux bureaux pour se rencontrer.
Nous travaillons avec les meilleures société de
gestion Parisienne pour les placements financiers
de nos clients.
Quant à l’immobilier notre offre s’étend sur toute la
France pour répondre aux besoins et envies de
chacun.
La France entière pour investir.
Se rencontrer
A propos de Maison Mazaeff.
Après trente années à travailler pour des banques de gestion
de fortune, Joseph Mazaeff décida de s’écarter des grandes
institutions bancaires pour conseiller ses clients selon une
méthode plus individualisée. Il fut rejoint en 2017 par son
fils Gautier à qui il a transmis son savoir faire.
Gautier Mazaeff, dans la suite de son héritage et de sa formation
en immobilier et en finances, a fondé la société
Maison Mazaeff avec pour objectif d’offrir une approche
nouvelle sur le conseil en gestion de patrimoine.
Portée par la conviction que la réussite des investissements
immobiliers et financiers et la satisfaction des clients exigent
un processus rigoureux de réflexion et de recherche de la
meilleure solution, Maison Mazaeff développe un accompagnement
innovant et des conseils personnalisés.
Gautier Mazaeff Fondateur
Services Connaissances Réalisations Tarifs
Immobilier
Financier
Dispositifs fiscaux
Règles de conformité
Résidence Menton
Immeuble Avignon
Résidence Lyon
Déficit foncier Tours
Tarif membre
Tarif non - membre
Se connecter
S’inscrire
«Vous nous utilisez bon gré mal gré
pour arriver sur la fin.»
Karadok - %>
    <br>
    <br>
    <h1 class="text-center">Le tout accompagné par des experts à votre services.</h1>
    <br>
    <br>
    <p class="text-center">tous les icones</p>
    <br>
    <br>
    <h1 class="text-center">Dans une offre groupée pour tous nos membres privilèges.</h1>
    <br>
    <br>
  </div>
</div>
<div class="content content-white">
  <br>
  <br>
  <h1 class="text-center">Le contenu de la home</h1>
  <br>
  <br>
</div>