<div class="banner-home">
  <div class="banner-content">
    <div class="content">
      <h1 class="text-center">
        Des investissements sur mesures pour <span class="important">développer votre patrimoine</span>
      </h1>
      <p class="text-center">
        Conseil en gestion de patrimoine, solutions d’investissements immobilier et financiers.
        Maison Mazaeff vous propose les meilleurs investissements selon votre profil.
      </p>
      <br>
      <div class="btn-center">
        <%= link_to root_path, class: "btn-flat" do %>
          Devenir membre  <i class="fas fa-arrow-right"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
<div class="content content-white">
  <br>
  <br>
  <h1 class="text-center">Le contenu de la home<%= image_tag "icones/Icone_Dollar_MM"%></h1>
  <br>
  <br>
</div>
<div class="content-dark">
  <div class="content">
    <br>
    <br>
    <h1 class="text-center">Le tout accompagné par des experts à votre services.</h1>
    <br>
    <br>
    <p class="text-center">tous les icones</p>
    <br>
    <br>
    <h1 class="text-center">Dans une offre groupée pour tous nos membres privilèges.</h1>
    <br>
    <br>
  </div>
</div>
<div class="content content-white">
  <br>
  <br>
  <h1 class="text-center">Le contenu de la home</h1>
  <br>
  <br>
</div>