<div class="banner-home">
  <div class="banner-content">
    <div class="content">
      <h1 class="text-center">
        Des investissements sur mesures pour <span class="flash-color">développer votre patrimoine.</span>
      </h1>
      <p class="text-center">
        Conseil en gestion de patrimoine, solutions d’investissements immobilier et financiers.
        Maison Mazaeff vous propose les meilleurs investissements selon votre profil.
      </p>
      <br>
      <div class="btn-center">
        <%= link_to root_path, class: "btn-flat" do %>
          Devenir membre  <i class="fas fa-arrow-right"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
<div class="content content-white">
  <div class="container-invest-type ">
    <div class="rocket-container">
      <img class="rocket" src="https://res.cloudinary.com/dqc8dpu1n/image/upload/v1635258717/Maison-Mazaeff/Fus%C3%A9e_rujcy5.png" />
    </div>
    <div class="">
      <h2 class="text-right">Êtes vous plutôt <span class="flash-color">pierre ou CAC40 ?</span></h2>
      <div class="grid-2">
        <div class="card-invest-type bck-ligh-gray">
          <h4 class="text-center">Je souhaite investir dans <span class="flash-color">l'immobilier</span></h4>
          <hr>
          <div class="info">
          <img src="https://res.cloudinary.com/dqc8dpu1n/image/upload/v1635263349/Maison-Mazaeff/Icones/Icone_Dollar_MM_mcmu4h.png" />
          A partir de 50 000 € hors frais d’acquisition.
          </div>
          <div class="info">
          <img src="https://res.cloudinary.com/dqc8dpu1n/image/upload/v1635263349/Maison-Mazaeff/Icones/Icone_Dollar_MM_mcmu4h.png" />
          Biens immobiliers dans toute la France.
          </div>
          <div class="info">
          <img src="https://res.cloudinary.com/dqc8dpu1n/image/upload/v1635263349/Maison-Mazaeff/Icones/Icone_Dollar_MM_mcmu4h.png" />
          Plusieurs dispositifs fiscaux selon votre situation.
          </div>
          <div class="info">
          <img src="https://res.cloudinary.com/dqc8dpu1n/image/upload/v1635263349/Maison-Mazaeff/Icones/Icone_Dollar_MM_mcmu4h.png" />
          Developper son patrimoine grâce au crédit.
          </div>
        </div>
        <div class="card-invest-type bck-ligh-gray">
          <h4 class="text-center">Je souhaite investir sur <span class="flash-color">les marchés financiers</span></h4>
          <hr>
          <div class="info">
          <img src="https://res.cloudinary.com/dqc8dpu1n/image/upload/v1635263349/Maison-Mazaeff/Icones/Icone_Dollar_MM_mcmu4h.png" />
          Solutions à partir de 1 000 € la part.
          </div>
          <div class="info">
          <img src="https://res.cloudinary.com/dqc8dpu1n/image/upload/v1635263349/Maison-Mazaeff/Icones/Icone_Dollar_MM_mcmu4h.png" />
          Investissement sur des produits institutionnels
          </div>
          <div class="info">
          <img src="https://res.cloudinary.com/dqc8dpu1n/image/upload/v1635263349/Maison-Mazaeff/Icones/Icone_Dollar_MM_mcmu4h.png" />
          Grande liberté de produits et de supports.
          </div>
          <div class="info">
          <img src="https://res.cloudinary.com/dqc8dpu1n/image/upload/v1635263349/Maison-Mazaeff/Icones/Icone_Dollar_MM_mcmu4h.png" />
          Investissement sans aucun souci de gestion
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content-dark">
  <div class="content">
    <br>
    <br>
    <h1 class="text-center">Le tout accompagné par des experts à votre services.</h1>
    <br>
    <br>
    <p class="text-center">tous les icones</p>
    <br>
    <br>
    <h1 class="text-center">Dans une offre groupée pour tous nos membres privilèges.</h1>
    <br>
    <br>
  </div>
</div>
<div class="content content-white">
  <br>
  <br>
  <h1 class="text-center">Le contenu de la home</h1>
  <br>
  <br>
</div>