.btn-center {
  text-align: center;
}

.btn-flat {
  border: solid 2px;
  padding: 8px 32px;
  border-radius: 32px;
  font-size: 18px;
  transition: background 0.3s ease;
  opacity: 0.8;
}

.btn-flat:hover {
  opacity: 1;
  text-decoration: none;
}

.btn-white {
  color: white;
  border-color: white;
}

.btn-white:hover {
  color: $medium-blue;
  background-color: white;
}

.btn-blue {
  color: $medium-blue;
  border-color: $medium-blue;
}

.btn-blue:hover {
  color: white;
  background-color: $medium-blue;
}

