.navbar-lewagon {
  justify-content: space-between;
  background: $medium-blue;
  padding: 0 40px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: white !important;
  font-size: 18px;
  border-radius: 40px;
  padding: 8px 16px !important;
  margin: 8px;
  transition: all 0.3s ease
}

.inscription {
  border: solid 2px;
  border-color: $flash;
}

.nav-link:hover {
  background-color: $flash;
  opacity:0.8;
}

.navbar {
  .home {
    display: flex;
    align-items: center;
    color: white;

    img{
      width: 40px;
      margin-right: 8px;
    }
    h1 {
      font-size: 32px;
      font-family: "Montserrat";
      margin: 0;
    }
  }
  .home:hover {
    color: $flash;
  }
}

// Smallest device
@media (max-width: 768px) {
  .navbar-lewagon {
    padding: 0 16px;
  }
}
